body {
    background-color: #E9F1F3;
}

.setting {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.asep {
    position: relative;
    bottom: 20px;
}

.pembungkus-card {
    margin-top: 20%;
}

.img {
    position: relative;
    top: -65px;
}

.atur-arow {
    position: relative;
    top: 5px;
    left: 160px;
}

.btn-atur {
    background-color: rgba(255, 255, 255, 0);
}

.input-light {
    border-color: #fafafa;
    border-radius: 4px;
    padding: 18px;
}

.btn-konfirm {
    background-color: #18B256;
    color: #fff;
    border-radius: 10px;
}

.btn-konfirm:hover {
    color: #000;
    background-color: #fff;
}

/* ----------------------------Riwayat------------------------ */

.juni {
    margin-top: 6%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.heder-tanggal {
    font-weight: 600;
}

.bullet-grend {
    position: absolute;
    top: 130px;
    left: 15px;
    font-size: 50px;
    color: #26DE81;
}

.bullet-blue {
    position: absolute;
    top: 160px;
    left: 15px;
    font-size: 50px;
    color: #45AAF2;
}

.bullet-grend-dua {
    position: absolute;
    top: 300px;
    left: 15px;
    font-size: 50px;
    color: #26DE81;
}

.bullet-blue-dua {
    position: absolute;
    top: 330px;
    left: 15px;
    font-size: 50px;
    color: #45AAF2;
}

.bullet-grend-tiga {
    position: absolute;
    top: 475px;
    left: 15px;
    font-size: 50px;
    color: #26DE81;
}

.bullet-blue-tiga {
    position: absolute;
    top: 510px;
    left: 15px;
    font-size: 50px;
    color: #45AAF2;
}

.bullet-blue-empat {
    position: absolute;
    top: 530px;
    left: 15px;
    font-size: 50px;
    color:  #576574;
}
